.paginationList {
  list-style: none;
  width: 90%;
  margin: 0 auto;
}

.paginationElem {
  display: inline-block;
  border: 1px solid grey;
  margin: 3px;
  width: 20px;
  border-radius: 2px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.paginationElem:hover {
  border: 1px solid black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: black;
}

.listItem {
  display: inline-block;
}
