.paginationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.btn{
  border: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
  background: rgb(136, 136, 136);
  border-radius: 3px;
  transition: all 0.4s;
}

.btn:active{
  background: #717790;;
  color: #fff
}

.btn:hover{
  background: rgb(51, 51, 51);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

