.cardContainer {
  padding: 10px;
  border-radius: 15px;
}

.cardContainer:hover {
  transition: all 0.2s;

  background-color: rgba(128, 128, 128, 0.151);
}

.fieldOfCard {
  font-weight: bold;
}

.link {
  color: black;
  text-decoration: none;
}
