.nav {
  width: 100%;
  height: 80px;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  font-size: 30px;
  padding-top: 15px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
  text-decoration: underline;
}
