.wrapper{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px
}

@media screen and (max-width: 1600px) {
  .wrapper{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper{
    grid-template-columns: 1fr;
  }
}