.form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px;
}

input{
  width: 300px;
}

input:invalid, select:invalid {
  border-color: red;
}

input:valid, select:valid {
  border-color: green;
}


label{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
